In [2]:
import pandas as pd
#Read the csv into a variable
df = pd.read_csv('sales_data_sample.csv')
# Read the first 5 lines of the data 
df.head(5)

#map the data 
mapping = {'Shipped': 1}

#replace the data with the mapped data 
df.replace ({'Shipped': mapping, 'STATUS' : mapping})

      ORDERNUMBER  QUANTITYORDERED  ...  CONTACTFIRSTNAME  DEALSIZE
0           10107               30  ...              Kwai     Small
1           10121               34  ...              Paul     Small
2           10134               41  ...            Daniel    Medium
3           10145               45  ...             Julie    Medium
4           10159               49  ...             Julie    Medium
...           ...              ...  ...               ...       ...
2818        10350               20  ...             Diego     Small
2819        10373               29  ...            Pirkko    Medium
2820        10386               43  ...             Diego    Medium
2821        10397               34  ...           Annette     Small
2822        10414               47  ...              Juri    Medium

[2823 rows x 25 columns]